@{ 
    ViewBag.Title = "Not Found";
}

<link href="~/Styles/not-found.css" rel="stylesheet" type="text/css" />

<div class="row content align-items-center">
    <div class="col-md-2">
        @Html.Partial("_Advertisement")
    </div>
    <div class="col-md-10">
        <div class="text-center">
            <h1>Error 404</h1>
            <h2>The resource is not found</h2><br />
            <span id="bn-not-found">
                :(
            </span>
        </div>
    </div>
</div>
