@{ 
    ViewBag.Title = "Not Found";
}

<link href="~/Styles/not-found.css" rel="stylesheet" type="text/css" />

<div class="row content align-items-center">
    <div class="col-md-2">
        <img class="d-none d-md-block bn-ad-img" src="~/Content/Images/ad-big.gif" alt="McDonalds Ad" />
        <img class="d-block d-md-none bn-ad-img mb-2" src="~/Content/Images/ad-small.gif" alt="McDonalds Ad" />
    </div>
    <div class="col-md-10">
        <div class="text-center">
            <h1>Error 404</h1>
            <h2>The resource is not found</h2><br />
            <span id="bn-not-found">
                :(
            </span>
        </div>
    </div>
</div>
