<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Test - BenivoNetwork</title>
    <link href="../favicon.ico" rel="shortcut icon" />
    <link href="../Content/Plugins/bootstrap.5.1.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../Content/Plugins/jquery.3.6.0/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../Content/Plugins/bootstrap.5.1.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="../Styles/test.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/test.js" type="text/javascript"></script>
</head>
<body>
    <div id="my-div">
        
    </div>

    <style type="text/css">

    </style>

    <script type="text/javascript">
        //1. passing function to function
        //1.1. closure

        //2. classes

        //3. prototype

        //4. promises (async/await)

        //5. localStorage (sessionStorage)
    </script>
</body>
</html>