<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Andranik Sargsyan - BenivoNetwork</title><!--DYNAMIC-->
    <link href="../favicon.ico" rel="shortcut icon" />
    <link href="../Content/bootstrap.5.1.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../Content/jquery.3.6.0/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../Content/bootstrap.5.1.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="../Content/Styles/common.css" rel="stylesheet" type="text/css" />
    <link href="../Content/Styles/user-profile.css" rel="stylesheet" type="text/css" />
    <script src="../Content/Scripts/common.js" type="text/javascript"></script>
    <script src="../Content/Scripts/user-profile.js" type="text/javascript"></script>
</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img id="logo" src="../Content/Images/logo.png" alt="Benivo Network" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <input class="form-control me-2 mt-2 mt-md-0" type="search" placeholder="Search..." aria-label="Search...">
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbar-messages" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Messages">💬<span class="d-md-none"> Messages</span></a>
                            <ul class="dropdown-menu" aria-labelledby="navbar-messages">
                                <!--PLACEHOLDER-NO ITEMS-->
                                <!--RED ICON, IF ANY-->
                                <li><a class="dropdown-item" href="#"><!--LINK TO MESSAGES -> SELECTED-->Message 1...</a></li>
                                <li><a class="dropdown-item" href="#"><!--LINK TO MESSAGES -> SELECTED-->Message 2...</a></li>
                                <li><a class="dropdown-item" href="#"><!--LINK TO MESSAGES -> SELECTED-->Message 3...</a></li>
                                <li><a class="dropdown-item" href="#"><!--LINK TO MESSAGES -> SELECTED-->Message 4...</a></li>
                                <li><a class="dropdown-item" href="#"><!--LINK TO MESSAGES -> SELECTED-->Message 5...</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="messages.html">See All Messages...<!--FIX/NEW PAGE/ENTITY/--></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbar-friend-requests" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Friend Requests">🤝<span class="d-md-none"> Friend Requests</span></a>
                            <ul class="dropdown-menu" aria-labelledby="navbar-friend-requests">
                                <!--PLACEHOLDER-NO ITEMS-->
                                <!--RED ICON, IF ANY-->
                                <li><a class="dropdown-item disabled" href="#">No Pending Requests</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbar-notifications" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Notifications">🌎<span class="d-md-none"> Notifications</span></a>
                            <ul class="dropdown-menu" aria-labelledby="navbar-notifications">
                                <!--PLACEHOLDER-NO ITEMS-->
                                <!--RED ICON, IF ANY-->
                                <li><a class="dropdown-item" href="#">Notification 1</a></li>
                                <li><a class="dropdown-item" href="#">Notification 2</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="notifications.html">See More...<!--FIX/NEW PAGE/ENTITY/--></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbar-profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="bn-profile-pic" src="../Content/Images/user.png" alt="User Profile Pic"><!--FIX--> Andranik<!--DYNAMIC-->
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbar-profile">
                                <li><a class="dropdown-item" href="user-profile.html">🧑‍<!--FIX--> Profile<!--FIX--></a></li>
                                <li><a class="dropdown-item" href="login-register.html"><!--FIX-->🚪 Logout<!--FIX--></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row content">
                <div class="col-md-2">
                    <img class="d-none d-md-block bn-ad-img" src="../Content/Images/ad-big.gif" alt="McDonalds Ad" />
                    <img class="d-block d-md-none bn-ad-img mb-2" src="../Content/Images/ad-small.gif" alt="McDonalds Ad" />
                </div>
                <div class="col-md-10">
                    <h3>Profile</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <img id="bn-main-pic" src="../Content/Images/user.png" class="img-thumbnail img-fluid" alt="User Profile Pic"><!--FIX-->
                        </div>
                        <div class="col-md-9">
                            <h4>Lorem Ipsum</h4>
                            <hr />
                            <b>Role</b> Admin<br />
                            <b>Gender</b> Male<br />
                            <b>Birth Date</b> 16/07/1990<br />
                            <b>Last Visit</b> 01/01/2021<br />
                            <hr />
                            <input type="button" class="btn btn-secondary" value="Add Friend | Remove Friend" /><!--FIX-->
                            <input type="button" class="btn btn-secondary" value="Edit" /><!--FIX-->
                            <input type="button" class="btn btn-secondary" value="Save" /><!--FIX-->
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="bn-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="bn-posts-tab" data-bs-toggle="tab" data-bs-target="#posts-tab" type="button" role="tab" aria-controls="posts-tab" aria-selected="true">Posts</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="bn-friends-tab" data-bs-toggle="tab" data-bs-target="#friends-tab" type="button" role="tab" aria-controls="friends-tab" aria-selected="false">Friends</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="bn-tab-content">
                                <div class="tab-pane fade show active" id="posts-tab" role="tabpanel" aria-labelledby="bn-posts-tab">
                                    <div id="bn-posts" class="mt-2">
                                        <div class="bn-post">
                                            <div class="bn-post-content">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <p>A well-known quote, contained in a blockquote element.</p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer">
                                                        on <cite>2021-09-21 00:43</cite>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="bn-post-footer">
                                                <span class="bn-like">
                                                    <span>Like </span><span>👍</span>
                                                </span>
                                                <span class="bn-like-count" title="User 1, User 2">45</span>
                                                <!--title - dynamic-->
                                                |
                                                <span class="bn-comment-count">8 Comments</span>
                                            </div>
                                            <div class="bn-comments-wrapper">
                                                <div class="bn-comments">
                                                    <div class="bn-comment">
                                                        <a href="user-profile.html" class="bn-profile-link">
                                                            <img class="bn-profile-pic" src="../Content/Images/user.png" alt="User Profile Pic" />
                                                            <span>Lorem Ipsum</span>
                                                        </a>
                                                        <p class="mt-2">Mauris euismod eros at ipsum tincidunt volutpat. Praesent tempus ultrices ante a facilisis.</p>
                                                        <span class="bn-like">
                                                            <span>Like </span><span>👍</span>
                                                        </span>
                                                        <span class="bn-like-count" title="User 1, User 2">2</span>
                                                    </div>
                                                    <div class="bn-comment">
                                                        <a href="user-profile.html" class="bn-profile-link">
                                                            <img class="bn-profile-pic" src="../Content/Images/user.png" alt="User Profile Pic" />
                                                            <span>Lorem Ipsum</span>
                                                        </a>
                                                        <p class="mt-2">Mauris euismod eros at ipsum tincidunt volutpat. Praesent tempus ultrices ante a facilisis.</p>
                                                        <span class="bn-like">
                                                            <span>Like </span><span>👍</span>
                                                        </span>
                                                        <span class="bn-like-count" title=""></span>
                                                    </div>
                                                    <div class="bn-comment">
                                                        <a href="user-profile.html" class="bn-profile-link">
                                                            <img class="bn-profile-pic" src="../Content/Images/user.png" alt="User Profile Pic" />
                                                            <span>Lorem Ipsum</span>
                                                        </a>
                                                        <p class="mt-2">Mauris euismod eros at ipsum tincidunt volutpat. Praesent tempus ultrices ante a facilisis.</p>
                                                        <span class="bn-like">
                                                            <span>Like </span><span>👍</span>
                                                        </span>
                                                        <span class="bn-like-count" title=""></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--ADD load more link or load on scroll or both one by one-->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="friends-tab" role="tabpanel" aria-labelledby="bn-friends-tab">
                                    <div id="bn-friends" class="mt-2">
                                        <div class="bn-profile-box">
                                            <img class="bn-profile-pic" src="../Content/Images/user.png" alt="User Profile Pic" />
                                            <span>
                                                <a href="user-profile.html">Lorem Ipsum</a><br />
                                                <span><b>Birthday:</b> 16/07/1990</span><br />
                                                <span><b>Gender:</b> Male</span><br />
                                                <input type="button" class="btn btn-secondary" value="Add Friend | Remove Friend" /><!--FIX-->
                                                <!--Other -->
                                            </span>
                                        </div>
                                        <div class="bn-profile-box">
                                            <img class="bn-profile-pic" src="../Content/Images/user.png" alt="User Profile Pic" />
                                            <span>
                                                <a href="user-profile.html">Lorem Ipsum</a><br />
                                                <span><b>Birthday:</b> 16/07/1990</span><br />
                                                <span><b>Gender:</b> Male</span><br />
                                                <input type="button" class="btn btn-secondary" value="Add Friend | Remove Friend" /><!--FIX-->
                                                <!--Other -->
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="my-footer" class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Copyright © 2021 by Andranik Sargsyan</span>
            <!--2021 - dynamic-->
        </div>
    </footer>
</body>
</html>