@using BenivoNetwork.Models

@model PostModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Post/Create" method="post">
    <input type="text" name="Text" />
    <br />
    <br />
    <input type="submit" value="Create" />
    <a href="~/Post/Index">Cancel</a>
</form>