@using BenivoNetwork.Models

@model PostModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm("Delete", "Post", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)
    <p>
        Are you sure you want to delete the post with ID = @Model.ID
    </p>
    <input type="submit" value="Delete" />
    @Html.ActionLink("Cancel", "Index", "Post")
}
