/*Header*/

main > .container {
    padding-top: 80px;
}

#logo {
    height: 20px;
    margin-top: -6px;
}

.nav-item img {
    background-color: white;
    vertical-align: sub;
}

.bn-profile-pic {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

@media (min-width: 768px) {
    #navbar-messages::after,
    #navbar-friend-requests::after,
    #navbar-notifications::after {
        display: none;
    }
}

/*Body*/

.bn-profile-link {
    text-decoration: none;
    font-weight: bold;
    color: #444;
}

    .bn-profile-link:hover > span {
        text-decoration: underline;
        color: #444;
    }

.bn-ad-img {
    width: 100%;
}

.bn-post {
    background-color: #eee;
    border: solid 1px #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.bn-like > span:first-child {
    display: inline-block;
    width: 32px;
}

.bn-like > span:last-child {
    vertical-align: text-bottom;
}

.bn-like.bn-active,
.bn-like:hover {
    font-weight: bold;
    cursor: pointer;
}

.bn-like-count {
    cursor: pointer;
}

.bn-comment {
    margin: 10px 0px;
    padding: 10px;
    padding-bottom: 1px;
    background-color: white;
    border-radius: 4px;
}
