.bn-friend {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

    .bn-friend > span {
        font-weight: bold;
        color: #444;
    }

.bn-profile-box {
    display: none;
    background-color: white;
    width: 400px;
    position: absolute;
    left: -401px;
    top: 0px;
    cursor: default;
}

.bn-friend:hover .bn-profile-box {
    display: block;
}
