@{
    ViewBag.Title = "Notifications";
}

<link href="~/Styles/notifications.css" rel="stylesheet" type="text/css" />

<div class="row content">
    <div class="col-md-12">
        <h3>Notifications</h3>
        <div id="bn-notifications-wrapper">
            <div class="bn-notification">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <br />
                <p>💬 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <figcaption class="blockquote-footer">
                    <cite>2021-09-21 00:43</cite>
                    |
                    <a href="@Url.Action("Post", "Home", new { id = 1 })" class="text-secondary"><!--FIX-->Go to post</a>
                </figcaption>
                <hr />
            </div>
            <div class="bn-notification">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <br />
                <p>👍 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <figcaption class="blockquote-footer">
                    <cite>2021-09-21 00:43</cite>
                    |
                    <a href="@Url.Action("Post", "Home", new { id = 1 })" class="text-secondary"><!--FIX-->Go to post</a>
                </figcaption>
                <hr />
            </div>
        </div>
    </div>
</div>
