@using BenivoNetwork.Common.Models

@model List<UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@foreach (var user in Model)
{
    <div>
        @user.ID - @user.FirstName - @user.Email
    </div>
}