@using BenivoNetwork.Common.Models

@model WelcomeModel

@{
    ViewBag.Title = "Welcome";
}

<link href="~/Styles/login-register.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/login-register.js" type="text/javascript"></script>

<div class="row content">
    <div class="col-md-8">
        <h1>Welcome to</h1>
        <br />
        <img id="bn-main-logo" src="~/Content/Images/logo.png" class="img-fluid" alt="Responsive image">
        <br />
        <br />
        <h2>...the most unique social network for the most creative individuals!</h2>
    </div>
    <div class="col-md-4">
        @Html.Partial("_Login", Model.LoginModel)
        @Html.Partial("_Register", Model.RegisterModel)
    </div>
</div>
